.container-mini-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
  box-sizing: border-box;
  text-align: left;
}

.menu-btns {
  display: flex;
  gap: 0.65rem;
  margin-bottom: 1.25rem;
}

.selected {
  background-color: rgb(54, 38, 30);
  color: white;
}

.menu-cards {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding-bottom: 0.65rem;
  position: relative;
  transition: transform 0.5s ease;
  will-change: transform;
  user-select: none;
  cursor: grab;
  align-items: flex-end;
}

.menu-cards.no-transition {
  transition: none !important;
}

.menu-cards > button {
  position: absolute;
  top: 50%;
  right: 0%;
}

.card {
  flex: 0 0 32.333%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-img-product {
  width: 100%;
  overflow: hidden; /* Скрывает, что выходит за границы */
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4 / 5;
}

.card-img-product img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* масштабирует и обрезает по контейнеру */
  display: block;
}

.card-name-product {
  width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: normal;
  text-align: left;
}

h4.card-name-product {
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgb(255, 255, 255);
  opacity: 60%;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.65rem;
  max-width: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.scroll-button:active {
  opacity: 100%;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

/* Мобильные устройства: экраны до 768px */
@media (max-width: 768px) {
  .menu-cards {
    gap: 1.25rem;
  }

  .card-name-product {
    font-size: 1.25rem;
    line-height: 1.4rem;
  }
}

/* Маленькие мобильные устройства: экраны до 480px */
@media (max-width: 480px) {
  .card {
    flex: 0 0 50%; /* 2 карточки */
  }

  .card-name-product {
    font-size: 1.125rem;
    line-height: 1.3rem;
  }
}
